// Fonts
// $primary-font: 'proxima_novaregular', sans-serif;
$primary-font: 'Lato_black', sans-serif;
$primary-font-bold : 'proxima_novabold' , sans-serif;
$primary-font-semibold : 'proxima_novasemibold' , sans-serif;

$formfield-primary-font: 'Montserrat_medium', sans-serif;


// Color
$primary-color: #10824E;
$secondary-color: #D0DE4F;
$white-color: #fff;
$black-color: #000;

//linear Gradients-coming up page
$gradient-color-1: rgba(74, 1, 126, 0.58);
$gradient-color-2: rgba(14, 29, 68, 0.68);



// Background-color
$light-bg-color: #fff; //used for menu icon

// text-color
$title-text-color: #8165c966;




// Container and Grid Spacing
// $container-width: 1170px;
// $grid-space: 15px;

// path
$images-path: "../images" !default;

//border-radius
$border-radius:0.6rem;

// icomoon


// Box Shadow
$box-shadow-modal: 0px 2px 10px #e9ecef;
$box-shadow: 0px 2px 10px #e9ecef;

//opacity

$opacity: 0.12; 