/* placeholder */
.feedBack_section {
  background-image: linear-gradient(to right, #313ec9, #843fb3);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; }
  .feedBack_section .feedBackForm_container {
    background-image: linear-gradient(to bottom, rgba(14, 29, 68, 0.68), rgba(73, 1, 125, 0.58)); }
    .feedBack_section .feedBackForm_container h1 {
      color: #6b45a8;
      font-size: 11.2rem;
      margin: 1rem 0rem 0rem;
      padding-top: 1rem; }
      @media (max-width: 575px) {
        .feedBack_section .feedBackForm_container h1 {
          font-size: 7rem; } }
    .feedBack_section .feedBackForm_container .formInputField {
      height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .feedBack_section .feedBackForm_container .formInputField .form-label {
        font-family: "Montserrat_medium", sans-serif;
        color: #fff;
        padding-left: 1rem;
        font-weight: bold;
        line-height: 2.4rem;
        font-size: 2rem; }
      .feedBack_section .feedBackForm_container .formInputField p {
        color: red !important;
        padding-top: 1rem;
        margin-bottom: -2.6rem; }
    .feedBack_section .feedBackForm_container .submitBtnContainer {
      margin-bottom: -1.8rem; }
      .feedBack_section .feedBackForm_container .submitBtnContainer input[type="submit"] {
        font-family: "Montserrat_medium", sans-serif;
        background-color: #f6cd15;
        border: none;
        border-radius: 1rem;
        padding: 0.8rem 2.6rem;
        color: #3f2472;
        font-size: 2.2rem;
        line-height: 2.7rem; }
  .feedBack_section .emptySpace {
    height: 10rem; }

.footerSection {
  background-image: url("../../images/footerBg.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .footerSection .channelsMainContainer {
    padding-top: 10.5rem; }
    .footerSection .channelsMainContainer .columnOneListItems {
      display: flex;
      flex-direction: column; }
      .footerSection .channelsMainContainer .columnOneListItems li a {
        text-decoration: none;
        color: #fff;
        line-height: 3rem; }
    @media (max-width: 767px) {
      .footerSection .channelsMainContainer .columnOneListItems.smallScreen {
        margin-top: 2rem; } }
    .footerSection .channelsMainContainer .channelsSection p {
      color: #fff;
      line-height: 2.3rem; }
    @media (max-width: 991px) {
      .footerSection .channelsMainContainer .channelsSection {
        margin-top: 2rem; } }
    @media (max-width: 767px) {
      .footerSection .channelsMainContainer .channelsSection {
        margin-top: 2rem; } }
    .footerSection .channelsMainContainer .channelsSection .channelsList {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 26rem;
      width: 39rem;
      margin-top: 2.3rem; }
      @media (max-width: 991px) {
        .footerSection .channelsMainContainer .channelsSection .channelsList {
          height: 22rem;
          align-items: center;
          width: 100%; } }
      @media (max-width: 359px) {
        .footerSection .channelsMainContainer .channelsSection .channelsList {
          height: 20rem;
          align-items: center;
          width: 100%; } }
      .footerSection .channelsMainContainer .channelsSection .channelsList .channelContainer {
        background-color: rgba(0, 0, 0, 0.26);
        display: flex;
        align-items: center;
        width: 19rem;
        padding: 1rem 1.2rem;
        margin-bottom: 0.8rem;
        flex-grow: 1; }
        @media (max-width: 767px) {
          .footerSection .channelsMainContainer .channelsSection .channelsList .channelContainer {
            width: 22rem;
            flex-shrink: 1; } }
        @media (max-width: 359px) {
          .footerSection .channelsMainContainer .channelsSection .channelsList .channelContainer {
            width: 19rem; } }
        .footerSection .channelsMainContainer .channelsSection .channelsList .channelContainer .imageContainer img {
          max-width: 8rem; }
        .footerSection .channelsMainContainer .channelsSection .channelsList .channelContainer .textContainer {
          margin-left: 2.5rem;
          text-align: center; }
          .footerSection .channelsMainContainer .channelsSection .channelsList .channelContainer .textContainer .channelText {
            font-size: 1.1rem;
            color: #9c85ae; }
          .footerSection .channelsMainContainer .channelsSection .channelsList .channelContainer .textContainer .channelNumber {
            font-size: 2.6rem;
            font-weight: 400; }
      .footerSection .channelsMainContainer .channelsSection .channelsList .channelContainer.videocon {
        flex-shrink: 1; }
      .footerSection .channelsMainContainer .channelsSection .channelsList .channelContainer.reliance {
        flex-shrink: 1; }
  .footerSection .copyrightContainer {
    background-image: linear-gradient(to bottom, rgba(73, 1, 125, 0.26), rgba(168, 20, 181, 0.26));
    padding: 3.2rem 0rem; }
    .footerSection .copyrightContainer p {
      color: #fff;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400; }
