@font-face {
    font-family: 'Lato_black';
    src: url("../fonts/lato_black/Lato-Black.eot");
    src: url('../fonts/lato_black/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato_black/Lato-Black.woff2') format('woff2'),
        url('../fonts/lato_black/Lato-Black.woff') format('woff'),
        url('../fonts/lato_black/Lato-Black.ttf') format('truetype'),
        url('../fonts/lato_black/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat_medium';
    src: url('../fonts/Montserrat_medium/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat_medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat_medium/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat_medium/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat_medium/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat_medium/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
