.comingUpSection {
    background-image: linear-gradient(to right bottom, #313ec9, #843fb3);
    // min-height: 60px; //temp, remove it
    // height: 100vh;
    .titleText {
      font-family: $primary-font;
      text-align: end;
      padding-top: 3rem;
      font-size: 14rem;
      color: $title-text-color;
    }
    .carousel-container {
      background-image: linear-gradient(
        to bottom,
        $gradient-color-1,
        $gradient-color-2
      );
      // display: flex;
      // justify-content: space-between;
      position: relative;
      .firstImageBox {
        margin-top: -2rem;
        // height: 42rem;
        height: 32rem;
        overflow: hidden;
        .myslides {
          img {
            // height: 420px;
            height: 320px;
          }
        }
      }
      .programDetails {
        .titleBox {
          h2 {
            font-family: $primary-font;
            color: $white-color;
            font-size: 8rem;
            font-weight: 700;
          }
        }
        .scheduleBox {
          padding-top: 1rem;
          p {
            font-size: 4rem;
            // line-height: 9.6rem;
            color: white;
            font-weight: 600;
            .box1 {
              font-size: 8rem;
              color: #4bc7c6;
            }
            .box2 {
              font-size: 4rem;
              color: #4bc7c6;
            }
          }
        }
      }
      .secondImage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
  
        .programSchedule {
          color: $white-color;
          display: flex;
          .schedule-box:not(:last-child) {
            margin-right: 3.4rem;
          }
          .schedule-box.active {
            margin-top: -3rem;
            .week {
              font-size: 6rem;
              line-height: 7rem;
            }
  
            .dateMonth {
              font-size: 1.8rem;
              line-height: 1.6rem;
              padding-top: 0.5rem;
            }
          }
          .schedule-box {
            margin-top: 0.3rem;
            span {
              display: block;
              text-align: center;
            }
            .week {
              font-size: 3.2rem;
              // line-height: 7rem;
              line-height: 3.9rem;
            }
            .dateMonth {
              font-size: 1.2rem;
              line-height: 1.6rem;
            }
          }
        }
  
        .imageSectionContainer {
          margin-bottom: -80px;
          align-self: flex-end;
  
          .myslidesNext {
            .prevImageItem {
              position: absolute;
              bottom: 0%;
            }
          }
        }
      }
    }
    .carousel_navigation {
      .carousel_controllers {
        display: flex;
        align-items: flex-end;
        padding: 1rem;
        margin-left: 8.5rem;
        padding: 4rem 0rem;
        .previousProgBtn {
          span {
            a {
              text-decoration: none;
              color: #8d7ae3;
              font-size: 2.4rem;
            }
          }
        }
        .countDisplay {
          color: $white-color;
          font-size: 2rem;
          span {
            font-size: 5rem;
          }
        }
        .nextProgBtn {
          span {
            a {
              text-decoration: none;
              color: #8d7ae3;
              font-size: 2.4rem;
            }
          }
        }
        .detailedView {
          margin-left: 4rem;
          cursor: pointer;
        }
      }
    }
  }
  
  .animatePic {
    animation-name: example;
    animation-duration: 1s;
  }
  
  .prevSlideAnimation {
    animation-name: example;
    animation-duration: 1s;
  }
  
  .hideElement {
    display: none;
  }
  
  // Animation Container
  @keyframes example {
    from {
      bottom: 0%;
      left: 100%;
      height: 0px;
    }
    to {
      height: 320px;
      left: 0%;
    }
  }